@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
   --bg: #020a04;
  --purple: #22c55e;
  --pink: #4ade80;
  --blue: #2aaefa;
  --text: #ecfdf5;
  --muted: #4b7a5a;
  --card: #040f06;
}

body {
  background: var(--bg);
  color: var(--text);
  font-family: 'Outfit', sans-serif;
  width: 360px;
  min-height: 580px;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-track {
  background: var(--bg);
}
::-webkit-scrollbar-thumb {
  background: var(--purple);
  border-radius: 2px;
}